.product-edit-form-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#product-edit-form-h2{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}
.product-edit-form{
    display: flex;
    flex-direction: column;
    background-color:#2B2C2D ;
    padding: 15%;
    border-radius: 10%;
}
#product-edit-form-button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}