.Product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.Product-list button {
    background-color: #002e47;
    border-radius: 1rem;
    border-color: #a7c3c8;
    padding: 3%;
}

.Product-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    background-color: #a7c3c8;
    border: 1px solid #8185b1;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    max-width: 300px;
}

.Product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

#product-name {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #F1F0EA;
}

#product-price {
    font-size: 1rem;
    color: #F1F0EA;
}

@media (max-width: 1024px) {
    .Product-item {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .Product-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .Product-item {
        flex: 1 1 calc(100% - 20px);
    }
}

.success-message-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #3fdf44;
    color: #ebf2f4;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

.success-message-wrap {
    padding: 40px;
}

#success-wrap {
    background-color: #1c491e;
}
