.user-creation-form-wrapper{
    margin: 1%;
    background-color: #a7c3c8;
    border: 2px solid #8185b1;
    padding:1%;
    max-width: fit-content;
    border-radius: 1rem;
    padding: 2% 10%;
}
.user-creation-form{
    display: flex;
    flex-direction: column;
}
.user-creation-form button{
    margin-top: 5%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #002e47;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}