.splash-wrapper{
    padding-left: 11%;
    padding-right: 1%;
    background-color: #a7c3c8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.splash-wrapper div{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color:#002e47;
    color: #ebf2f4;
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    border: 2px solid #ebf2f4;
    border-radius: 4rem;
    text-align: center;
}
.dashboard-wrapper{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 1%;
    justify-content: space-around;
}
