/*
Text:
#343232 x

Background:
#ebf2f4 x

Primary:
#002e47 In main buttons like main cta

Secondary:
#a7c3c8 In secondary buttons like secondary cta, unimportant buttons

Accent:
#8185b1 For button borders, text border etc where necessary
*/