.User-list-del-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  gap: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-height: 500px;
  width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  color: #ebf2f4;
}

.User-list-del-panel::-webkit-scrollbar {
  width: 8px;
}

.User-list-del-panel::-webkit-scrollbar-thumb {
  background-color: #ebf2f4;
  border-radius: 10px;
}

.User-list-del-panel::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.User-item-for-del {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #8185b1;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: left;
  font-weight: 700;
}

.User-details {
  width: 100%;
}

.User-details h3 {
  margin: 0 0 8px 0;
  font-size: 1.4rem;
  color: #ebf2f4;
}

.User-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #ebf2f4;
}

.fetch-button-admin-panel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fetch-button-admin-panel button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #002e47;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.fetch-button-admin-panel button:hover {
  background-color: #a7c3c8;
}

.user-list-wrapper h2 {
  text-align: center;
}
